footer
	position: relative
	display: block
	text-align: center
	background: #F5F5F5
	z-index: 5
	clear: both
.credit
	display: block
	position: inherit
	z-index: 6
	&__contact
		padding: 7px 0
	&__author
		padding: 3px 0 7px 0
		&_made
			color: #5F5F5F
			font-size: 13px
			font-weight: 400

#copyToClipboardBox
	position: absolute
	z-index: -10
	left: -99999999px


