@media screen and (device-width: 768px)
	.vueApp__right
		overflow-x: hidden
	.card__img
		width: 315px
		height: 225px
	.tabsBlock__tab a
		padding: 20px 35px
	.tabContent__block span
		margin-right: 30px
	.tabContent__map
		width: 100%
		height: 86%
	#map
		height: 100% !important
	.amenities
		padding: 20px
	.searchBox
		width: 95%
		padding-top: 5px
		&__title
			width: 90%
			margin: 0
		&__input
			width: 90%
			margin: 0
	.facilitie
		width: 95%
		&__items
			width: 90%
			margin-left: 0
		&__sep
			margin-top: 20px
	.header__button
		right: 15px

@media screen and (max-device-width: 1024px)
	.vueApp__right
		overflow-x: hidden
	.card__img
		width: 315px
		height: 225px
	.tabsBlock__tab a
		padding: 20px 35px
	.tabContent__block span
		margin-right: 30px
	.tabContent__map
		width: 100%
		height: 86%
	#map
		height: 100% !important
	.amenities
		padding: 20px
	.searchBox
		width: 95%
		padding-top: 5px
		&__title
			width: 95%
			margin: 0
		&__input
			width: 95%
			margin: 0
	.facilitie
		width: 95%
		&__items
			width: 90%
			margin-left: 0
		&__sep
			margin-top: 20px
	.header__button
		right: 15px

@media screen and (device-width: 1366px) and (orientation: landscape)
	.vueApp__right
		overflow-x: hidden
	.card__img
		width: 295px
		height: 235px
		&_title
			width: 220px
	.tabContent__map
		width: 100%
		height: 81.5%
	#map
		height: 100% !important
	.amenities
		padding: 20px
	.searchBox
		width: 95%
		padding-top: 5px
		&__title
			width: 95%
			margin: 0
		&__input
			width: 95%
			margin: 0
	.facilitie
		width: 95%
		&__items
			width: 90%
			margin-left: 0
		&__sep
			margin-top: 20px
	.header__button
		right: 15px

@media screen and (min-device-width: 1920px)
	.vueApp__right
		overflow-x: hidden
	.card__img
		width: 415px
		height: 325px
		&_title
			width: 220px
	.tabContent__map
		width: 100%
		height: 81.5%
	#map
		height: 100% !important
	.amenities
		padding: 20px
	.searchBox
		width: 95%
		padding-top: 5px
		&__title
			width: 95%
			margin: 0
		&__input
			width: 95%
			margin: 0
	.facilitie
		width: 95%
		&__items
			width: 90%
			margin-left: 0
		&__sep
			margin-top: 20px
	.header__button
		right: 15px
