.config
	width: 100%
	display: block
	position: relative
	max-width: auto
	min-width: 435px
	margin: 0 auto
	&__code
		padding: 15px 20px
		background: #ecf0f1
		border-radius: 7px
		&_option
			margin: 5px 0
